<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <form action="/ch" method="post">
        <div class="col-sm-6">
            <div class="checkbox">
                <label>
            <input name="checkData" type="checkbox" value="items1" />
            items1
          </label>
                <input type="hidden" name="checkData" value="items" />
            </div>
            <div class="checkbox">
                <label>
            <input name="checkData" type="checkbox" value="items2" />
            items2
          </label>
            </div>
            <div class="checkbox">
                <label>
            <input name="checkData" type="checkbox" value="items3" />
            items3
          </label>
            </div>
        </div>
        <input type="submit" value="submit" />
    </form>
</body>

</html>