<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../style/main-style.css" />
  </head>
  <body>
    <div class="container_main">
      <div class="text-center">
        <div class="card bg-dark text-white" style="width: 18rem">
          <img
            class="card-img-top"
            src="../images/defoult_profile_pic.png"
            alt="admin picture"
          />
          <div class="card-body">
            <h5 class="card-title">Admin</h5>
            <a href="admin_login.html" class="btn btn-primary">Login as Admin</a>
          </div>
        </div>
        <br>
        <div class="card bg-dark text-white" style="width: 18rem">
          <img
            class="card-img-top"
            src="../images/defoult_profile_pic.png"
            alt="admin picture"
          />
          <div class="card-body">
            <h5 class="card-title">Doctor</h5>
            <a href="../views/doctor_login.html" class="btn btn-primary">Login as Doctor</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
